/*
background-color: #E4C59E;
button: #803D3B;
welcome-text: #803D3B;
donate: #03A6A1
border-radius: 8px;

*/

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding:0;
    background-image: url("../img/book-img.png");
    font-family: "Suisse", sans-serif;
}
.main {
    display:flex;
    flex-direction: column;
    /* height: 100vh; */
}

header {
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.logo {
    color: #803D3B;
    font-size: 25px;
    font-weight: bold;
    
}

header .button {
    background-color: whitesmoke;
    color: #803D3B;
    padding: 10px 30px;
    border: none;
    border-radius: 80px;
}

#main-loginBtn {
    font-weight: bold;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.welcome h1 {
    color: whitesmoke;
}


.donate-receive {
    display: flex;
    justify-content: space-around; 
    margin: 20px;
}


.donate, .receive {
    flex: 1 1 300px;
    max-width: 500px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    color: #4A102A;
}

.donateBtn{
    background-color: #8FA937;
}

.receiveBtn {
    background-color: #803D3B;
}

.donateBtn, .receiveBtn, .loginBtn, .signupBtn, .searchBtn, .requestBtn, .submit-commentBtn{
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bolder;

}

.login-page, .signup-page, .receive-page, .book-details-page, .book-quality-page, .donate-page {

  justify-content: center;
  align-items: center;
  padding: 30px;

}

.login-container, .signup-container, .receive-container, .book-details-container, .book-quality-container, .donate-page-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    border-radius: 40px;
}

.login, .signup {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginBtn, .signupBtn {
    background-color: #803D3B;
    padding: 10px 100px;
    font-size: 20px;
}

h1 {
    color: #803D3B;
}

input {
    width: 100%;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

.header a {
    text-decoration: none;
}

.gobackBtn-wrapper {
    display: flex;
    align-items: left;
}

.gobackBtn {
    margin: 20px 100px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
}

.current-books {
    display: flex;
    justify-content: space-around;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-card img {
    height: 200px;;
}

.book-title {
    text-align: center;
}

.searchBtn {
  background-color: #803D3B;
  padding: 5px 10px;
  font-size: 15px;
  margin:0;
  margin-left: auto;
}
.requestBtn, .submit-commentBtn {
  background-color: #803D3B;
  padding: 10px 10px;
  font-size: 15px;
  margin:0;
}

.receive-container {
    align-items: flex-start;

}
.find-book {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: #803D3B;
}

.form-row select {
    border: 1px solid #803D3B;
    border-radius: 8px;
    color: #803D3B;
    font-size: 15px;
}
.book-title {
    color: #803D3B;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.book-details-container .book-card{
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

.book-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-form textarea {
    border-radius: 8px;
    border: none;
    padding: 15px;
}

.comment-list {
    background-color: #ede7e7;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.likeBtn, .replyBtn {
    border: none;
}

.book-quality-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.book-quality-container .book-card {
    flex-direction: row;
}



.book-quality-container .book-card div {
    flex-direction: column;
    padding: 20px;
}

.book-details-container h1, .donate-page-container h1 {
    margin-right: auto;
}

