<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Book Donation</title>
</head>
<header class="header">
    <div class="logo">Book Donation</div> 
    {% if current_user.is_authenticated %}
    <span>Welcome, {{ current_user.first_name}}! </span>
    <a href="{{ url_for('auth.logout') }}" type="button" class="button" id="main-loginBtn">Log Out</a> 
    {% else %}
    <a href="{{ url_for('auth.login') }}" type="button" class="button" id="main-loginBtn">Log In</a> 
    {% endif %}
</header>

<div class="gobackBtn-wrapper">
    {% block goback %}
    <a class="gobackBtn" href="{{ url_for('index')}}">Go Back</a>
    {% endblock %}
</div>

 
<!-- Flash messages area -->
  <div class="container mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </div>

<body>
    {% block body %}{% endblock %}
</body>
</html>