{% extends 'base.html' %}

{% block body%}

    <div class="main book-quality-page">
        <div class="book-quality-container">
            <h1>Available Books:</h1>
            <div class="book-quality-card">

                <div class="book-card" data-title="Book A" data-faculty="Engineering">
                    <img src="img/books/book-a.png" alt="Book A">
                    <div>
                        <div class="book-title">Book A</div>
                        <button class="requestBtn">Request Button</button>
                    </div>
                </div>
                                <div class="book-card" data-title="Book A" data-faculty="Engineering">
                    <img src="img/books/book-a.png" alt="Book A">
                    <div>
                        <div class="book-title">Book A</div>
                        <button class="requestBtn">Request Button</button>
                    </div>
                </div>
                                <div class="book-card" data-title="Book A" data-faculty="Engineering">
                    <img src="img/books/book-a.png" alt="Book A">
                    <div>
                        <div class="book-title">Book A</div>
                        <button class="requestBtn">Request Button</button>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>


{% endblock %}