<!-- This page is for book description. It will also have a comment -->
{% extends 'base.html' %}

{% block body %}

      <div class="main book-details-page">
        <div class="book-details-container">
          <h1>Book Details:</h1>

            <div class="book-card-details">
              {% if book.book_image %}
              <img src="{{ url_for('static', filename=book.book_image.split('static/')[-1]) }}">
              {% endif %}
              <div class="book-info">
                <h2 class="book-title">{{ book.book_name }}</h2>
                <p class="book-author"><b>Author:</b> {{ book.book_author }}</p>
                <p class="book-faculty"><b>Faculty:</b> {{ book.faculty }}</p>
                <p class="book-added"><b>Added on:</b> {{ book.date_added.strftime('%Y-%m-%d') }}</p>
              </div>
              {% if current_user.is_authenticated and current_user.id != book.user_id %}
              <form action="{{ url_for('books.request_book', book_id=book.id) }}" method="POST"> 
              <button type="submit" class="requestBtn">Request This Book</button>
              </form>
              {% endif %}
            </div>

            <!-- Comment Section -->
            <div class="comment-section">
              <h2>Comments</h2>

              <form class="comment-form">
                <textarea name="comment" placeholder="Write your comment here..." required></textarea>
                <button type="submit" class="submit-commentBtn">Post Comment</button>
              </form>

              <div class="comment-list">
                <div class="comment">
                  <p><strong>User 1:</strong>Here will be comment!</p>
                  <div class="comment-actions">
                    <button class="likeBtn">Like</button>
                    <button class="replyBtn">Reply</button>
                  </div>
                  <div class="comment-replies">
                    <div class="reply">
                      <p><strong>User 1:</strong>There will be comment replies!</p>
                      <div class="comment-actions">
                      <button class="likeBtn">Like</button>
                      <button class="replyBtn">Reply</button>
                  </div>
                    </div>
                  </div>
                </div>
                
                <!-- <div class="comment">
                  <p><strong>User 2:</strong>Here will be comment!</p>
                  <div class="comment-actions">
                    <button class="likeBtn">Like</button>
                    <button class="replyBtn">Reply</button>
                  </div>
                  <div class="comment-replies">
                    <div class="reply">
                      <p><strong>User 1:</strong>There will be comment replies!</p>
                    </div>
                  </div>
                </div> -->

              </div>
              
            </div>
        </div>

      </div>

{% endblock %}