<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donate</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="main">
            <div class="donate">
               <form>
                <input type="text" id="booktitle" name="book-title" />
                <input type="text" id="author" name="author"/>
                
               </form> 
            </div>
        </div>
    </body>

</html>