{% extends 'base.html' %}

{% block body %}

  <div class="main login-page">
    <div class="login-container">

      <form class="login">
        <h1>Log In</h1>
        <!-- <label for="email">Email:</label> -->
        <input type="email" id="email" name="name" placeholder="Email" required>

        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" name="password" placeholder="Password">

        <button class="loginBtn" type="submit">Log In</button>
        <p class="signup-prompt">Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>
      </form>
    </div>

  </div>

{% endblock %}