{% extends 'base.html' %}
{% block body %}
<div class="my-requests-page">
    <div class="my-requests-container">
        <h1>My Donated Books: </h1>
        {% if donations %}
        <div class="my-requests-list">
            {% for donation in donations %}
            <div class="my-requests-card">

                <img src="{{ url_for('static', filename=donation.book_image.split('static/')[-1])}}">
                <div class="my-requests-book-info">
                    <div class="book-title">{{ donation.book_name }}</div>
                    <div class="book-author">{{ donation.book_author }}</div>
                    <div class="book-faculty">{{ donation.faculty}}</div>
                    <div class="book-added">
                        Donated Date: {{ donation.timestamp.strftime('%Y-%m-%d %H:%M') if donation.timestamp else 'N/A' }}
                    </div>

                    <!-- <div>Request Status: {{ donation.status}}</div> -->
                </div>
            </div> 
            {% endfor %}
        </div>
        {% else %}
        <p>You have not donated any book yet!</p>
        {% endif %}
    </div>
</div> 
{% endblock %}